vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Aug 2019 16:37:23 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|views/photo_capture.php
vti_author:SR|HEAD-ICT\\ICT
vti_modifiedby:SR|HEAD-ICT\\ICT
vti_timecreated:TR|12 Aug 2019 16:37:23 -0000
vti_cacheddtm:TX|12 Aug 2019 16:37:23 -0000
vti_filesize:IR|1487
